body{
    background-color: lightsalmon;
}

/* Solution of (i.) */

.red{
    color: red;
}


/* Solution of (ii.) */

.blue{
    color: blue;
}


/* Solution of (iii.) */

.box{
    border: 1px solid black;
    background-color: pink;
}