<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <h1>This is the Home Page 1 + 2 </h1>
    <h3><%= ["Sam" ,"Loves" ,"Mohit"][2]%></h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus quam eius blanditiis assumenda earum reiciendis consequatur tempore dignissimos, quos aperiam, ipsum adipisci, possimus voluptates odio dolores sed nam nostrum fuga?
    Et at, minus sed ullam cumque veritatis perspiciatis illum suscipit aliquam saepe ad? Debitis eveniet error harum magni, odio culpa, voluptas sint sequi magnam accusantium, esse amet nobis perspiciatis molestias.
    Temporibus incidunt, facilis suscipit molestias animi odit et rem alias a minima saepe. Suscipit porro voluptatum, quasi praesentium culpa nesciunt vitae illo distinctio totam exercitationem id eveniet, delectus dolor quo.
    Aspernatur doloribus quo ducimus aliquam minus aperiam sunt ea molestiae odio! Reiciendis autem totam at sed eos, repellendus placeat, quas voluptatibus inventore in assumenda, beatae excepturi blanditiis mollitia modi numquam.
    Praesentium distinctio rerum veniam aliquid pariatur quaerat velit quasi corporis nam, nobis non molestiae totam voluptates delectus quidem fuga et eius error sit. Assumenda officia qui voluptas, nemo delectus placeat?
    Expedita, eaque. Itaque quis dolores reiciendis non expedita vero impedit, error ad fugit obcaecati assumenda autem, amet ea at, magnam odio repudiandae rem ut quos. Corporis cumque culpa doloremque quos.
    Officiis aperiam quas exercitationem id molestiae nostrum, modi aspernatur maxime voluptate nesciunt eum nihil, quam cupiditate repellat sequi officia earum ipsam dolor quidem consequuntur laboriosam magnam. Officiis, sunt explicabo? Exercitationem?
    Optio qui amet asperiores laboriosam. Repellat facilis odit impedit odio temporibus ratione pariatur dicta ad quam delectus perferendis, iusto, libero eum id quae sunt atque. At repellat nihil tenetur quod.
    Deleniti tempore porro consequuntur soluta dolor nihil molestiae ipsa natus. Maxime natus, odio quisquam minima quo corrupti ducimus? Doloribus, quos nihil reprehenderit a minus quam libero consectetur nesciunt beatae sequi!
    Odio enim facere similique deserunt at repellat dolorum ea inventore numquam dignissimos impedit consequatur, eos commodi a culpa veritatis ipsam voluptates eligendi. Aperiam consectetur distinctio eaque alias, fugiat ullam aliquam!Lorem ipsum dolor sit, 
    amet consectetur adipisicing elit. Quaerat fugit officiis accusamus optio voluptatibus, numquam animi minima dolores, laudantium laboriosam laborum. Est corporis tempore dolorem earum cumque, 
     praesentium amet autem.</p>
    <button>Click Me!</button>
</body>
</html>